<!--наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'news/default.html' %}
{% load custom_filters %}
<!--   Название у нас будет  -->
{% block title %} The news {% endblock title %}
<!--   block -->
{% block content %}
<!--  loop -->
<h3 class="content-subhead">
  Found
  {{ filter.qs|length }} posts on query:
  <span>{{ name }}</span>
</h3>

{% if name.id %}
<div class="subscribe">
  <strong>
    Subscribe to
    <em>{{ name }}</em>?
  </strong>
  <a href="{% url 'sub_cat' name.id %}">
    <button class="pure-button button-success">
      <i class="bi bi-bookmark-plus"></i>
      Subscribe
    </button>
  </a>
</div>
{% endif %}

{% if is_paginated %}

<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
<div class="mx-auto d-flex justify-content-center">
  <div class="pure-button-group" role="group" aria-label="...">

    {% if page_obj.has_previous %}

    <a class="page-link" href="?page=1">
      <button class="pure-button button-secondary">
        First
      </button>
    </a>
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
      <button class="pure-button button-secondary">
        &laquo;
      </button>
    </a>

    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="page-link" href="#">
      <button class="pure-button button-secondary pure-button-active">
        {{ num }}
      </button>
    </a>


    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="page-link"
      href="?page={{ num }}">
      <button class="pure-button button-secondary">
        {{ num }}
      </button>
      </a>
      {% endif %}
      {% endfor %}

      <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
      {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        <button class="pure-button button-secondary">
          &raquo;
        </button>
      </a>

      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
        <button class="pure-button button-secondary">
          Last
        </button>
      </a>

      {% endif %}
  </div>
</div>
{% endif %}


<hr>

    {% if news %}
        {% for new in news %}
            <article class="entry">
<!-- Пост с картинкой -->
            {% if new.photo %}
              <div class="entry-img">
                <img src="{% if new.photo %}{{ new.photo.url }} {% endif %}" alt="" class="img-fluid">
              </div>
            {% endif %}
              <h2 class="entry-title">
                <a href="{{ new.get_absolute_url }}">{{ new.headingPost|censor }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{ new.author }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="{{ new.timeInCreation|date:'Y-M-d' }}">{{ new.timeInCreation|date:'d M Y' }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-folder"></i> <a href="blog-single.html">{{ new.get_choicePost_display }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ new.textPost|truncatewords:20|censor }}
                </p>
                <div class="entry-footer">
                    {% if new.postCategory.all %}
                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                {% for postCategory in new.postCategory.all %}
                        <li><a href="{% url 'post_tag' postCategory.id %}">{{ postCategory.name }}</a></li>
                {% endfor %}
                    </ul>
                </div>
                {% endif %}
                    <div class="read-more">
                        <a href="{{ new.get_absolute_url }}">Подробнее</a>
                </div>
              </div>

            </article><!-- End blog entry -->
        {% endfor %}
    {% else %}
        <h1>Новостей нет</h1>
    {% endif %}



{% endblock content %}